<!DOCTYPE html>
<html lang="en">

    <head>
        <%-include('../../shared/includes/head', { pageTitle: 'Failure' })%>
    </head>

    <body>
        <%-include('../../shared/includes/header')%>
        <main>
            <div class="info-container">
                <h1 class="color-red">Order Failed</h1>
                <p>You can contact the shop owner for more details.</p>
            </div>
        </main>
        <%-include('../../shared/includes/footer')%>
    </body>

</html>