<!DOCTYPE html>
<html lang="en">

    <head>
        <%-include('../../shared/includes/head', { pageTitle: 'Success' })%>
    </head>

    <body>
        <%-include('../../shared/includes/header')%>
        <main>
            <div class="info-container">
                <h1 class="color-green">Order was success</h1>
                <p>You can visit <a class="color-secondary" href="/orders">the orders page</a> for more details!</p>
            </div>
        </main>
        <%-include('../../shared/includes/footer')%>
    </body>

</html>